name: Build Frontend (Yarn)

on:
  workflow_call:
    inputs:
      service_name:
        required: true
        type: string
      base_image:
        required: false
        type: string
      node_version:
        required: false
        type: string
        default: "18"
      # 如果你的前端不在仓库根目录，比如 web/ 或 frontend/，可传这个
      working_directory:
        required: false
        type: string
        default: "."
      # 构建产物目录（默认常见的 dist）
      artifact_path:
        required: false
        type: string
        default: "dist"
      env:
        required: true
        type: string
    secrets:
      OCIR_USERNAME:
        required: true
      OCIR_AUTH_TOKEN:
        required: true
      OCIR_NAMESPACE:
        required: true
      IMAGE_REGISTRY:
        required: true

jobs:
  build:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ${{ inputs.working_directory }}

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ inputs.node_version }}
          cache: "npm"


      - name: Install Dependencies
        run: npm ci

      - name: Build (prod)
        run: npm run build:${{ inputs.env }}
      
      - name: Detect Version
        id: detect
        run: |
          echo "GITHUB_REF=${GITHUB_REF}"
          echo "GITHUB_REF_TYPE=${GITHUB_REF_TYPE}"
          echo "GITHUB_REF_NAME=${GITHUB_REF_NAME}"

          if [[ "${GITHUB_REF_TYPE}" == "tag" ]]; then
            VERSION=$(echo "${GITHUB_REF_NAME}" | grep -oE '[0-9]+\.[0-9]+\.[0-9]+')
            if [[ -z "$VERSION" ]]; then
              echo "❌ Tag 格式必须为 release-x.y.z"
              exit 1
            fi
            IMAGE_TAG="$VERSION"
          elif [[ "${GITHUB_REF_NAME}" == "blockchain-intl" ]]; then
            IMAGE_TAG="latest"
          else
            echo "❌ 不支持的分支或 tag"
            exit 1
          fi

          echo "image_tag=${IMAGE_TAG}" >> "$GITHUB_OUTPUT"

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: frontend-dist
          path: ${{ inputs.working_directory }}/${{ inputs.artifact_path }}

      - name: Login to OCIR
        env:
          USER: ${{ secrets.OCIR_USERNAME }}
          PASS: ${{ secrets.OCIR_AUTH_TOKEN }}
          REG: ${{ secrets.IMAGE_REGISTRY }}
        run: |
          echo "${PASS}" | docker login "${REG}" -u "${USER}" --password-stdin

      - name: Build & Push Docker Image
        run: |
          IMAGE="${{ secrets.IMAGE_REGISTRY }}/${{ secrets.OCIR_NAMESPACE }}/${{ inputs.service_name }}-${{ inputs.env }}:${{ steps.detect.outputs.image_tag }}"
          echo "Building: $IMAGE"
          docker build -t "$IMAGE" \
            --build-arg BASE_IMAGE=${{ inputs.base_image }} \
            --build-arg artifact_dir=${{ inputs.artifact_path }} \
            -f template/docker/Dockerfile.node .
          docker push "$IMAGE"